<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Technical News</title>
</head>
<body>
    <div class ="container">
        <h1 class="mb-4">Welcome to Technical News Section</h1>
        <a href="/news/new" class="btn">New News</a>
        <a href="/" class="btn">back to Home Page</a>

        <% news.forEach(news => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= news.title %></h4>
                    <div class="card-subtitle text-muted mb-2"> 
                        <%= news.author %>
                    </div>
                    <div class="card-subtitle text-muted mb-2"> <!--can add .toLocaleDateString()... for stort data-->
                        <%= news.createdAt %>
                    </div>
                    <div class="card-text mb-2">
                        <%= news.description %>
                    </div>
                    <a href="<%= news.slug %>" class="btn btn-primary">Read More</a>
                    <a href="/news/edit/<%= news.id %>" class="btn btn-info">Edit</a>
                    <form action="/news/<%= news.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <%        })%>

    </div>
</body>
</html>